# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

.idea/*
materialenapp/__pycache__/
materialenapp/settings.py
materialmanager/__init__.py
media_cdn
static_cdn
materialmanager/__pycache__/
